<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:include="layout :: htmlhead"></head>
    <body>
        <nav th:replace="layout :: menu">(menu)</nav>
        <main>
          <br>
          <h1 style="font-size: 20px; color: #4F2867;">PROFISSIONAIS</h1>
          <hr>

            <a th:href="@{/profissionais/novo}">
              <button type="submit" class="btn btn-primary" style="background-color: #cbbfd2; color: black; border-color: #4F2867; margin-left: 5px;">
                <b>Cadastrar novo Profissional</b>
              </button>
            </a>


            <table class="table" id="tabprofissionais">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Telefone</th>
                        <th>Especialização</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="umProfissional : ${listaProfissionais}">
                        <td th:text="${umProfissional.nome}"></td>
                        <td th:text="${umProfissional.telefone}"></td>
                        <td th:text="${umProfissional.especializacao}"></td>
                        <td><a class="btn btn-secondary" style="background-color: #cbbfd2; color: black; border-color: #4F2867;" th:href="@{'/profissionais/alterar/' + 
                            ${umProfissional.id}}">Alterar</a>

                            <button th:data-id="${umProfissional.id}" type="submit" class="btn btn-primary js-delete" style="background-color: #ebb7b7; color: black; border-color: #BB0F0F;">
                              <b>Excluir</b>
                            </button>

                        </td>
                            
                    </tr>
                </tbody>
            </table>
        </main>
        <div class="modal" tabindex="-1" id="modalprofissional">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Excluir Profissional</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>Confirma a exclusão do profissional?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                  <button type="button" class="btn btn-primary" id="btnsim" style="background-color: #ebb7b7; color: black; border-color: #BB0F0F;">
                    <b>Sim</b>
                  </button>
                </div>
              </div>
            </div>
          </div>
        <div th:include="layout :: footer">(footer)</div>
        <script th:src="@{/ProfissionalScript.js}"></script>
    </body>
</html>