<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:include="layout :: htmlhead"></head>
    <body>
        <nav th:replace="layout :: menu">(menu)</nav>
        <main>
            <h1>Profissionais</h1>
            <hr>

            <a th:href="@{/profissionais/novo}" class="btn btn-primary">Novo</a>


            <table class="table" id="tabprofissionais">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Telefone</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="umCliente : ${listaprofissionais}">
                        <td th:text="${umProfissional.nome}"></td>
                        <td th:text="${umProfissional.telefone}">4758584587458</td>
                        <td><a class="btn btn-secondary" th:href="@{'/profissionais/alterar/' + 
                            ${umProfissional.id}}">Alterar</a>
                            <button 
                            th:data-id="${umProfissional.id}"
                            class="btn btn-danger js-delete">Excluir</button>
                        </td>
                            
                    </tr>
                </tbody>
            </table>
        </main>
        <div class="modal" tabindex="-1" id="modalprofissional">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Excluir Profissional</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>Confirma a exclusão do profissional?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                  <button type="button" class="btn btn-primary" id="btnsim">Sim</button>
                </div>
              </div>
            </div>
          </div>
        <div th:include="layout :: footer">(footer)</div>
        <script th:src="@{/script.js}"></script>
    </body>
</html>